<% if notice %>
<p class="notice"><%= notice %></p>
<% end %>

<% if alert %>
<p class="alert"><%= alert%></p>
<% end %>

<% @posts.each do |post|%>
<%= post.title %>
<%= link_to '削除', api_v1_post_path(post), method: :delete, data:{ confirm: '本当に削除しますか？'}%>
<% end %>
